.tasks {
  min-height: 20rem;
  display: grid;
  gap: 1.2rem;
  place-items: center;
  margin-top: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  border-radius: 0.4rem;
  padding: 1rem 0;
}

.card {
  user-select: none;
  width: 30rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 1.3rem 2rem;
  cursor: pointer;
  border-radius: 0.3rem;
  border: solid var(--light-green);
  border-width: 1px 1px 3px 3px;
  color: var(--btn-font-color);
  background-color: var(--color-tertiary);
}

.card-content {
  flex-grow: 1;
  padding-inline: 0.6rem;
}

.inactive {
  text-decoration: line-through;
}

.card-inactive {
  color: var(--color-tertiary);
  background-color: transparent;
  border-color: var(--color-tertiary);
}

.card-content h3 {
  font-weight: 600;
  font-size: 2rem;
}

.card-content span {
  display: block;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: -0.2rem;
  color: rgb(77, 77, 77);
}

.card-content p {
  font-size: 1.4rem;
  font-weight: 400;
}

.edit-icon,
.status-icon {
  width: 1.8rem;
  color: hsl(0, 0%, 60%);
  cursor: pointer;
}

.edit-icon {
  font-size: 1.5rem;
}

.btn-first-task {
  width: 100%;
  padding-block: 7rem;
  font-size: 1.6rem;
  border: none;
  color: var(--color-tertiary);
  background-color: transparent;
  cursor: pointer;
  border: 1px solid var(--color-secondary);
}