.date-display {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;
}

.date {
  font-size: 1.2rem;
}

.btn-create-task {
  color: hsl(0, 0%, 100%);
  background-color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
  border-radius: 0.4rem;
  padding: 0.7em 2.6em;
  font-size: 0.9em;
  cursor: pointer;
}

.form-container {
  min-height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: hsla(0, 0%, 0%, 0.45);
}

.form-task {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 37rem;
  min-width: min-content;
  margin-inline: auto;
  border-radius: 0.8rem;
  padding: 2rem 2.5rem;
  color: var(--color-tertiary);
  background-color: var(--darker-bg);
}

.task-name::placeholder,
.task-notes::placeholder {
  font-weight: 600;

}

.task-name::placeholder,
.task-notes::placeholder,
.task-date::placeholder,
.task-time::placeholder {
  color: var(--color-tertiary);
}


.task-name,
.task-notes,
.task-date,
.task-time {
  font-size: 1.7rem;
  margin-bottom: 0.4rem;
  padding: 0.4rem 0.5rem;
  width: 100%;
  outline: none;
  background-color: transparent;
  color: var(--color-);
  border: transparent;
  border-bottom: 2px solid var(--color-secondary);
}

.task-name {
  font-size: 2rem;
  /* font-weight: 600; */
}

.task-notes {
  resize: none;
  min-height: 60px;
}

.task-Name::placeholder {
  color: var(--color-secondary);
}

.btn-options {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  /* margin-top: 1.3rem; */
  padding-right: 1rem;
}

.btn-submit,
.btn-close {
  font-weight: bold;
  padding: 0.5em 1.5em;
  border-radius: 0.4rem;
  text-decoration: none;
  cursor: pointer;
}

.btn-submit {
  color: var(--btn-font-color);
  background-color: var(--color-secondary);
  border: 2px solid var(--color-secondary);
}

.btn-close {
  border: 2px solid var(--color-secondary);
  border-color: var(--color-secondary);
  background-color: transparent;
  color: var(--color-secondary);
  margin-right: 1rem;
}


@media (max-width: 500px) {
    .form-task {
      min-width: fit-content;
      width: 80%;
      max-width: 80%;
    }
}