:root {
    --darker-bg: hsl(216, 18%, 16%);
    --dark-bg: hsl(233, 16%, 19%);
    --color-tertiary: hsl(0, 0%, 93%);
    --color-secondary: hsl(42, 95%, 69%);
    --btn-font-color: hsl(216, 18%, 16%);
    font-size: 62.5%;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

html,
body {
    height: 100%;
}

body {
    font-size: 1.6rem;
}