:root {
  --darker-bg: hsl(216, 18%, 16%);
  --dark-bg: hsl(233, 16%, 19%);
  --color-tertiary: hsl(0, 0%, 93%);
  --color-secondary: hsl(42, 95%, 69%);
  --btn-font-color: hsl(216, 18%, 16%);
  --light-green: hsl(173, 58%, 34%);
  --green-bg: hsl(188, 58%, 29%);
  --dark-border-card: hsl(203, 30%, 26%);
  font-size: 62.5%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: grid;
  place-items: center;
  font-size: 1.6rem;
  color: var(--color-tertiary);
  background-color: var(--dark-bg);
}

#root {
  padding-block: 4rem;
}

.App {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  width: 50rem;
}

.disabled {
  display: none;
}

.date {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.btn-add {
  font-size: 1.5rem;
  color: var(--dark-bg);
  font-weight: 600;
  background-color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
  border-radius: 0.4rem;
  padding: 0.7em 2.6em;
  font-size: 0.9em;
  cursor: pointer;
  text-decoration: none;
}


@media (max-width:750px) and (min-width: 500px) {
  .App {
    width: 100%;
    padding-inline: 1rem;
  }
}

@media (max-width: 501px) {
  .App {
    width: 80%;
  }

  header p {
    line-height: 1.1;
  }
}