body {
  margin: 0;
  padding: 0;
  display: grid;
  place-items: center;
  color: var(--color-tertiary);
  background-color: var(--dark-bg);
}

#root {
  padding-block: 4rem;
}

.App {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  width: 50rem;
}

header {
  margin-bottom: 1.7rem;
}

.title {
  font-weight: 500;
  font-size: 2rem;
}

.app-name {
  color: var(--color-secondary);
  font-weight: 600;
  text-transform: uppercase;
}

header p {
  font-weight: 500;
  font-size: 4rem;
}

.disabled {
  display: none;
}

.date {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.btn-create-task {
  font-size: 1.5rem;
  color: var(--dark-bg);
  font-weight: 600;
}

.btn-first-task {
  /* all: unset; */
  width: 100%;
  padding-block: 7rem;
  font-size: 1.6rem;
  border: none;
  color: var(--color-tertiary);
  background-color: transparent;
  cursor:pointer;
  border: 1px solid var(--color-secondary);

}

@media (max-width:750px) and (min-width: 500px) {
  .App {
    width: 100%;
  }
}

@media (max-width: 501px) {
  .App {
    width: 80%;
  }

  header p {
    line-height: 1.1;
  }
}