.error {
    text-align: center;
}

.error h1 {
    font-size: 8rem;
    line-height: 1;
}

.error p {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.error a {
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--color-secondary);
}