.error-page {
    text-align: center;
}

.error-page h1 {
    font-size: 8rem;
    line-height: 1;
}

.error-page p {
    font-size: 3rem;
    margin-bottom: 1rem;
}


.error-page a {
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--color-secondary);
}