.task-display {
  width: 70vw;
  min-height: 100px;
  margin: 0.8em auto;
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  align-items: center;
}

.task-card {
  user-select: none;
  min-width: 340px;
  max-width: 80%;
  min-height: 80px;
  display: grid;
  align-items: center;
  grid-template-columns: 10% 80% 10%;
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-tertiary);
  border-left: 3px solid var(--color-tertiary);
  border-bottom: 3px solid var(--color-tertiary);
  margin: 0.3em 0.5em;
  background-color: hsl(227, 100%, 95%);
}

.task-data {
  margin: 0 0.8rem;
}

.task-card-name {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0;
}

.inactive {
  text-decoration: line-through;
  color: var(--color-gray);
}

.task-card-notes {
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--color-gray);
}

.task-card-time {
  display: block;
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: -0.3rem;
  color: var(--color-gray);
}

.edit-icon,
.status-icon {
  color: hsl(0, 0%, 60%);
  cursor: pointer;
}

.status-icon {
  font-size: 1.5rem;
}
