.tasks {
  min-height: 20rem;
  padding: 3rem 1rem;
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  border-radius: 0.4rem;
  border: 1px solid var(--color-secondary);
  /* background-color: var(--darker-bg); */
}

.task-card {
  user-select: none;
  width: 90%;
  min-height: 80px;
  display: grid;
  place-items: center;
  gap: 0.3rem;
  grid-template-columns: 1fr 4fr 1fr;
  padding: 0.5rem 1rem;
  border-style: solid;
  border-width: 1px 1px 3px 3px;
  border-color: var(--color-secondary);
  background-color: var(--color-tertiary);
  border-radius: 0.4rem;
}

.task-data {
  margin: 0 0.8rem;
}

.task-card-name {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0;
}

.inactive {
  text-decoration: line-through;
  color: var(--color-gray);
}
.inactive-card {
  border-color: var(--color-gray);
  /* border-left: 3px solid var(--color-secondary);
  border-bottom: 3px solid var(--color-secondary); */
}

.task-card-notes {
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--color-gray);
}

.task-card-time {
  display: block;
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: -0.2rem;
  color: var(--color-gray);
}

.edit-icon,
.status-icon {
  color: hsl(0, 0%, 60%);
  cursor: pointer;
}

.status-icon {
  font-size: 1.5rem;
}

.edit-icon {
  font-size: 0.9rem;
}

/* @media (min-width: 900px) {
  .task-display {
    width: 55%;
  }
} */
